  
.trending{
    margin-top: 100px;
    width: 1440px;
    height: 976px;
    margin-bottom: 100px;

    background-color: whitesmoke;

    .card {
        background-color: white;
        margin: 0px 20px 0px 20px;
    }
    .title{
        color:#474747;
    }

    img{
        width: 292px;
        display: flex;
        justify-content: center;
        align-items: center;
        

    }

    .t{
        font-size: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color:#E7FF86;
        color: #474747;
        border-radius: 15px;
        width: 96px;
        height:32px;
        // padding:5px 15px 5px 15px;
        margin-top: 34px;
        margin-left: 30px;
        display: flex;
        justify-content: center;
    }

    .column{
        padding-top: 1px;
        
    }
    
    .texto{
        color: #474747;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 25px;
        
    }
    .discount{
        text-decoration: line-through;
        color: #8F8F8F;
    }

    h2{
        color: #8F8F8F;
        font-size: small;
        background-color: #F9F8FE;
    }

    .price{
        color: black;
        font-weight: bold;
        margin-left: 5px;
        background-color: #F9F8FE;

    }

    .trending2{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        color: #C92071;
        width: 1440px;
    }

    .precos{
        display: flex;
        font-size: large;
        background-color: #F9F8FE;
    }

    .bottom{
        margin: 0px 20px 0px 20px;
    }

    .vermais{
        text-decoration: none;
        justify-content:center;
        align-content: center;
        align-items: center;
        color: #C92071;
    }
}