@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

$color-pink: #C92071;
$color-text: #474747;

.offer-section {
    margin-top: 40%;
    padding-left: 20px;
    padding-right: 50px;
}

.special-offer-left {
    /* Ellipse 11 */
    position: absolute;
    width: 466px;
    height: 466px;
    background: linear-gradient(180deg, rgba(66, 0, 255, 0.25) -40.67%, rgba(255, 255, 255, 0) 100%);
    border-radius: 250px;
    margin-left: 100px ;
    display: flex;
    justify-content: center;
    align-items: center;

    #img-offer {
        position: absolute;
        width: 573px;
        height: 330px;
        margin-bottom: 85px;
        margin-right: 50px;
    }
}

#special-offer-name-section {
    color: $color-pink;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
}

#special-offer-text {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 1px;
    margin-top: 20px;
}

#special-offer-description {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    margin-top: 20px;
    color: black;
}

#special-offer-button {
    background-color: $color-pink;
    font-family: Inter, sans-serif;
    color: #FFFF;
    border: none;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 20px;
    text-transform: none;
    border-radius: 8px;
    letter-spacing: 0.75px ; 
    width: 200px;
    height: 40px; 
}

#special-offer-button:hover {
    cursor: pointer;
    background-color: #9e0a52;
}


