.Products {

    
    

    background-color: #F9F8FE;


    h1{
        font-weight: bold;
        margin: 0px;
    }

    h2{
        font-size: small;
        margin: 0px;
        margin-bottom: 20px;
        color: #666666;
    }
    
    .titulo {
        text-decoration: none;
        font-size: large;
        margin-left: 100px;
        padding: 30px;
    }
    
    .row{
        display: flex;
    }
    .sneakers{
        width: 700px;
        height: 571px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E2E3FF;
        margin-left: 100px;
        margin-top: 40px;

        img{
        
                width: 684px;
                height:571px;

        }
    }

    .info{
        width: 440px;
        height: 571px;
        margin-right: 100px;
        margin-top: 40px;
        margin-left: 30px;
    }

    .tamanho{
        margin-bottom: 10px;
    }

    button{
        width: 48px;
        height: 48px;
        margin-right: 5px;
        font-weight:700 ;
        border: #CCCCCC solid 1px;
        background-color: white;
        border-radius: 2px;
    }

    button:hover {
        background-color: #C92071;
        cursor: pointer;
      }

      .comprar{
        width: 220px;
        height: 48px;
        background-color: #FFB31F;
        margin-top: 10px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.75px;
        text-align: center;
        border-radius: 5px;

      }

      .redondo{
        height: 30px;
        width: 30px;
        background-color: #fff;
        border-radius: 50%;
      }

      .redondo:hover{
        border: 2px solid #C92071;
      }
}


.image-gallery{
    width: 700px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    

    .img3{
        margin: 15px;
        background-color: #E2E3FF;
        border-radius: 3px;
    }

    .img3:hover{
        border: 1px solid #C92071;
    }

    img{
        width: 117px;
        height: 96px;
    }

    .img3.bege{
        background-color: #FFE8BC;
    }

    .img3.rosa{
        background-color: #FFC0BC;
    }

    .img3.marrom{
        background-color: #DEC699;
    }

    .img3.offwhite{
        background-color: #E8DFCF;
        ;
    }

    
  }
    

